.app-container {
  display: flex;
  flex-direction: row;
  height: 100vh;
}

.app-nav {
  display: flex;
  flex-direction: column;
  flex-basis: 25%;
  max-width: 25%;
  border-right: 1px solid black;
}

.app-body {
  flex-basis: 75%;
  max-width: 75%;
  background: linear-gradient(to bottom right, rgb(52, 89, 212), rgb(50, 199, 245))
}

@media screen and (max-width: 950px) {
  .app-nav {
    flex-basis: 30%;
    max-width: 30%;
  }
  .app-body {
    flex-basis: 70%;
    max-width: 70%;
  }
}

@media screen and (max-width: 700px) {
  .app-nav, .app-body {
    flex-basis: 100%;
    max-width: 100%;
  }

  .app-container > .unfocus {
    display: none;
  }
}

.blur {
  filter: blur(3px);
}
